.sobre-nos {
    background-color: #dfdede;
    padding: 5rem 5%;
    color: #dfdede;
    background-color: #1c222e;

}

.sobre-nos h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #dfdede;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.content-text {
    width: 100%;
    max-width: 40rem;
    color: #dfdede;
    padding: 2rem;
    text-align: justify;

}

.content-text h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.content-img {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-img img {
    max-width: 30rem;
    border: solid 0.2rem royalblue;
    transition: 0.5s;
    margin-right: 1rem;
}

.content-img img:hover {
    transform: scale(1.2)
}

/*Responsividade*/



@media (max-width: 1000px){
    .sobre-nos h1 {
     font-size: 3rem;
     text-align: center;
    }
    .content-text h3 {
        font-size: 1.4rem;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .content-text {
        width: 100%;
        max-width: max-content;
        text-align: justify;
    
    }
    .content-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

 }
 @media (max-width: 700px){
    .content-img img:hover {
        transform: scale(1.03);
    }
    .content-text {
        padding: 2rem 0;
    }
    .content-img{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

}
@media (max-width: 425px){
    .content-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .content-img img {
        border: none;
        margin-right: 0;
        margin-bottom: 1rem;
    }

}