
.text-container{

    background-color: royalblue;
    font-size: 2rem;
    padding: 3rem 5%;
    box-shadow: 0rem 0rem 0.5rem #dbdee6, 0rem 0rem 0.5rem #858585;
}

.text-container h1{
    text-transform: uppercase;
}

.about-content{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 5%;
    max-width: 100%;
    margin-bottom: 5rem;
    gap: 5rem;

}
.about-text{
    width: 50%;

}

.about-text h1{
    text-transform: uppercase;
    color: rgb(47, 47, 117);
    padding-bottom: 2rem;

}

.about-text p{
    color: black;
    text-align: justify;
    font-size: 2rem;
    margin-right: 0rem;
    
    

}

.about-img {
    width: 50%;
    height: 50rem;
   

}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    margin-top: 20rem;

}
.about-img img:hover{
    transform: scale(1.1)
}


.card-contair{
    padding: 3rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 2rem;
}

.card-contair .card{
    color: rgb(7, 7, 7);
    box-shadow: 0rem 0rem 0rem white, 0rem 0rem 1rem white;
    padding: 2rem;
    text-align: justify;
    border-radius: 0.1rem;
    width: 30rem;
    height: 30rem;
    margin-top: -2rem;
    display: flex;
    background-color:white ;
    border: .2rem solid #f8f5f5;

}
.card-contair .card:hover{
    border-color:#fafafa;
    transform: scale(1.02);
}
.card-contair .card .icon{
    font-size: 3.5rem;
    padding: 0.5rem;
    color: rgb(47, 47, 117);
}
.card-contair .card h5{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(47, 47, 117);
}
.card-contair .card p{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}




/*Administracao*/

.admin-container {

    width: 100%;
    background-color: #c9c6c6;;
    padding: 5rem 5%;
}
.admin-container h1{
    font-size: 4rem;
    text-align: center;
    padding: 5rem;
}

.admin-content {
    margin: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;


}

.cardx {
    width: 27rem;
    border-radius: 2.5rem;
    background-color: #fff;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.4rem;
}

.image-content {
    position: relative;
    row-gap: 0.5rem;
    padding: 2.5rem 0;
}

.overlay {
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 2.5rem 2.5rem 0rem 2.5rem;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -4rem;
    height: 4rem;
    width: 4rem;
    background-color: #4070F4;
}

.overlay::after {
    border-radius: 0rem 2.5rem 0rem 0rem;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: #fff;
    padding: 0.2rem;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid#4070F4;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.description {
    font-size: 1.3rem;
    color: #707070;
    text-align: justify;
}

.description-1 {
    font-size: 1.3rem;
    color: #707070;
    text-align: center;
    font-weight: bolder;
    padding: 1rem 0rem;
}

.button {
    border: none;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.7rem 1.4rem;
    background-color: #4070F4;
    border-radius: 0.6rem;
    margin: 1.4rem;
    border: 0.2rem solid #4070F4;
}

.button:hover {
    background-color: transparent;
    border: 0.2rem solid #4070F4;
    color: #4070F4;
}

