.text-container{

    background-color: royalblue;
    font-size: 2rem;
    padding: 3rem 5%;
    box-shadow: 0rem 0rem 0.5rem #dbdee6, 0rem 0rem 0.5rem #858585;
}

.text-container h1{
    text-transform: uppercase;
}



.services-container{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding: 0rem 5rem 0rem 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
   
    
}

.services{
    display: flex;
    width: 100%;
    
}

.service-img{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    width: 15%;
    height: 10rem;
   
}

 .services h2{
    font-size: 2rem;
    font-weight: 300;
    color: royalblue;
    text-align: center;
   

}

.services .icon{
    font-size: 4rem;
    color: royalblue; 
   
}

.services .texto{
    width: calc(100% - 15%);
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.services .texto p{
  font-size: 2rem;
  color: black;
  align-items: center;

}

