.header {
   
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
    height: 8rem;
}

.header .logo img {
    width: 5rem;
    cursor: pointer;
}

.header .navbar ul {
    display: flex;
}

.header .navbar ul li {
    margin-left: 2rem;
}

.header .navbar ul li a {
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    cursor: pointer;
}

.header .navbar ul li a:hover {
    color: var(--main-color);
}

.header .login {
    background-color: #bd4343;
    padding: 0.7rem 1.4rem;
    border-radius: .8rem;
    cursor: pointer;
}

.header .login a {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}