.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
    height: 8rem;
}

.header .logo img {
    width: 5rem;
    cursor: pointer;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar ul {
    display: flex;
}

.header .navbar ul li {
    margin-left: 2rem;
}

.header .navbar ul li a {
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    cursor: pointer;
}

.header .navbar ul li a:hover {
    color: var(--main-color);
}

.navbar .btn-1 {
    margin-left: 1rem;
}

.toggle-btn {
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Meun*/
.dropdown-menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: #ffffff1a;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-menu.open {
    height: auto;
}

.dropdown-menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
    color: white;
    font-size: 1.5rem;
    padding: 0.7rem 1.4rem;
    background-color: royalblue;
    border-radius: 1rem;
    text-align: center;
    margin-left: 3rem;
}

.dropdown-menu .btn-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-menu a {
    font-size: 1.5rem;
    color: white;
}

.dropdown-menu a:hover {
    color: #0ef;
}

@media (max-width: 1000px) {

    .navbar ul a,
    li .btn-login {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}


