.text-container{

    background-color: royalblue;
    font-size: 2rem;
    padding: 3rem 5%;
    box-shadow: 0rem 0rem 0.5rem #dbdee6, 0rem 0rem 0.5rem #858585;
}

.text-container h1{
    text-transform: uppercase;
}

.sobre-parque{
    
    display: flex;
    justify-content: center;
   
    
    

}
.cont-parque{
    padding: 3rem 5%;
}
.cont-texts{
    background-color: rgb(33, 52, 105);
    padding: 2rem 2rem 2rem 2rem;
}

.cont-texts p{
    color: rgb(249, 243, 243);
    text-align: justify;
    font-size: 2rem;  
   

}

.cont-imgs {
    position: relative;
    width: 100%;
    height: 30rem;
   
}

.cont-imgs .img-1 {
    
    width: 100%;
    height: 100%; 
    object-fit: cover; 
   
}

.cont-imgs h3{
    width: 10rem;
    height: 5rem;
    background-color: #858585;
    padding: 10px;
    position: absolute;
    bottom: -10px;
left: 10px;


}
